@charset "UTF-8";
/* μΈν’‹ */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");
body {
  margin: 0;
  font-weight: 300;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ant-upload-list {
  display: flex;
  flex-wrap: wrap; }

.ant-upload-list .ant-upload-list-picture-container {
  width: calc(33.33% - 8px);
  margin-right: 12px; }

.ant-upload-list .ant-upload-list-picture-container:nth-child(3n+3) {
  margin-right: 0; }
